%tr
  %th.label= t('banner_rotator')
  %td.field{:style => "text-align: left"}
    %label
      = check_box 'page', 'show_banner'
      = t('enable_banner_rotator')
    %br
    %label{:style => "margin-left:22px"}
      = t('assigned_pages') + ":"
    - unless @page.banners.blank?
      %ul
        - @page.banners.each do |banner|
          %li= link_to banner.name, edit_admin_banner_path(banner), {:title => "#{t('edit')} #{banner.name} #{t('banner')}"}
    - else
      = t('no_pages')
