- include_javascript 'lowpro'

- content_for :page_scripts do
  :plain
    var AddSelector = Behavior.create({
      initialize: function(type){
        this.template = $(type + '_select_template');
      },
      onclick: function(event) {
        event.stop();
        var newField = new Element("p").update(this.template.innerHTML);
        this.element.up("div").insert(newField);
      }
    });
    Event.addBehavior({ '#add-page-link': AddSelector('placement')});

%p#placement_select_template{:style => 'display:none'}
  = select_tag "banner[placements][][page_id]", options_for_select(pages_for_select)
  = select_tag "banner[placements][][weight]", options_for_select((1..10).to_a), :title => 'weight'
  = link_to_function 'Remove', 'this.up().remove();', :class => 'delete-link'

- form_for [:admin, @banner], :html => {'data-onsubmit_status' => onsubmit_status(@banner)}  do |f|
  / = f.hidden_field :lock_version # for optimistic locking. Not yet implemented for banners
  = render_region :form_top, :locals => {:f => f}
  .form-area
    - render_region :form, :locals => {:f => f} do |form|
      - form.edit_title do
        %p.title
          %label
            %span.inline_label= t('name')
            = f.text_field :name, :class => 'textbox activate', :size => 32, :maxlength => 100, :style => "width: 85%;"
      - form.edit_content do
        %p
          %label
            %span.inline_label= t('description')
            ~ f.text_field :description, :class => 'textbox'
        %p
          %label
            %span.inline_label= t('background_image')
            = f.text_field :background_image, :class => 'textbox'
        %p
          %label
            %span.inline_label= t('foreground_image')
            = f.text_field :foreground_image, :class => 'textbox'
        %p
          %label
            %span.inline_label= t('link_url')
            = f.text_field :link_url, :class => 'textbox'
        %p
          %label
            %span.inline_label=t('target')
            = f.select :link_target, ['_top', '_blank']
            = t('text.banners.target_instruction')
        %p
          %label
            %span.inline_label= t('image_style')
            ~ f.text_field :image_style, :class => 'textbox activate'
        %hr
        %div
          %p
            %label
              %span.inline_label=t('assigned_pages')
              =link_to image('plus') + " " + t('add_page'), '#', :id => 'add-page-link', :class => 'action'
          - @banner.placements.each do |p|
            %p
              = select_tag "banner[placements][][page_id]", options_for_select(pages_for_select, p['page_id'])
              = select_tag "banner[placements][][weight]", options_for_select((1..10).to_a, p['weight']), :title => 'weight'
              = link_to_function image('minus') + ' ' + t('remove'), 'this.up().remove();', :class => "action"

    - render_region :form_bottom, :locals => {:f => f} do |form_bottom|
      - form_bottom.edit_buttons do
        %p.buttons{:style=>"clear: left"}
          = save_model_button(@banner)
          = save_model_and_continue_editing_button(@banner)
          = t('or')
          = link_to t('cancel'), admin_banners_url
      - form_bottom.edit_timestamp do
        = updated_stamp @banner

- content_for :page_css do
  :sass
    .inline_label
      display: inline-block
      text-align: right
      width: 130px
      margin: 0 10px 0 0
    .textbox
      width: 85%