%h1= t('deactivate_banner')

%p
  = t('text.banners.deactivate_warning')

= render :partial => 'modify_banner'

- form_for [:admin, @banner], :html => {:action => :deactivate, 'data-onsubmit_status'=>"Deactivating banner&#8230;"} do
  %p.buttons
    %input.button{:type=>"submit", :value => t('deactivate_banner')}/
    = t('or')
    = link_to t('cancel'), admin_banners_url
