- include_javascript 'admin/tablekit'

- @page_title = t('banners') + ' - ' + default_page_title

- case true
  - when params[:view] == 'active' && params[:sort] == 'page'
    - @banners = Banner.find_active_by_pages
  - when params[:view] == 'active'
    - @banners = Banner.find_active
  - when params[:view] == 'inactive'
    - @banners = Banner.find_inactive
  - when params[:sort] == 'page'
    - @banners = Banner.find_all_by_pages

.outset
  = render_region :top
  .banner_selectors
    %ul#banner_view
      %li#all_view= link_or_span_unless_current(params, "#{t('show_all')} (#{Banner.total_count})", admin_banners_path, :onclick => "Cookies.set('banner_view', 'all');", :param => 'view')
      %li#active_view= link_or_span_unless_current(params, "#{t('show_active_only')} (#{Banner.total_active_count})", admin_banners_path(:view => 'active'), :onclick => "Cookies.set('banner_view', 'active');", :param => 'view', :id => 'active')
      %li#inactive_view= link_or_span_unless_current(params, "#{t('show_inactive_only')} (#{Banner.total_inactive_count})", admin_banners_path(:view => 'inactive'), :onclick => "Cookies.set('banner_view', 'inactive');", :param => 'view', :id => 'inactive')
    - unless params[:view] == 'inactive'
      %ul#banner_sort
        %li.label= t('sort_by') + ":"
        %li#name_sort= link_or_span_unless_current(params, t('banner_name'), admin_banners_path, :onclick => "Cookies.set('banner_sort', 'name');", :param => 'sort', :id => 'name')
        %li#page_sort= link_or_span_unless_current(params, t('assigned_pages'), admin_banners_path(:sort => 'page'), :onclick => "Cookies.set('banner_sort', 'page');", :param => 'sort', :id => 'page')
  %table.index#banners
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.banner{:colspan => 2}= t('banner')
          - thead.pages_header do
            %th.pages= t('assigned_pages')
          - thead.actions_header do
            %th.actions{:style=>"width:9em"}= t('modify')
    %tbody
      - if @banners.any?
        - @banners.each do |banner|
          %tr[banner]
            - render_region :tbody, :locals => {:banner => banner} do |tbody|
              - tbody.title_cell do
                %td.preview
                  %a{:href => edit_admin_banner_url(banner)}
                    %img.snapshot{:src => banner.background_image, :alt => "#{banner.name} #{t('banner')}", :title => "#{t('edit')} #{banner.name} #{t('banner')}"}
                %td.name
                  = link_to banner.name, edit_admin_banner_url(banner)
              - tbody.pages_cell do
                %td.pages
                  - unless banner.pages.blank?
                    - banner.pages.each do |page|
                      %a{:href => edit_admin_page_url(page), :title => "#{t('edit')} #{page.title} #{t('page')}"}= page.breadcrumb
                      &nbsp;
                  - else
                    (none)
              - tbody.actions_cell do
                %td.actions
                  = link_to image('minus') + ' ' + t('remove'), remove_admin_banner_url(banner), :class => "action"
                  - if banner.active?
                    =link_to image('deactivate') + ' ' + t('deactivate'), deactivate_admin_banner_url(banner), :class => 'action'
      - else
        %tr
          %td.empty{:colspan => admin.banner.index.tbody.length + 1}= t('no_banners')

- render_region :bottom do |bottom|
  - bottom.new_button do
    #actions
      = pagination_for(@banners)
      %ul
        %li= link_to image('plus') + " " + t('new_banner'), new_admin_banner_url

- content_for :page_css do
  :sass
    .banner_selectors
      margin: 11px 0 0 0
      height: 19px
      ul
        list-style: none
        li
          display: inline
          font-size: 80%
        a, a:visited
        a:hover
          background-color: #e5f5ff
        span
          border: 1px solid #d5f0ff
          background-color: #c5dff5
    #banner_view, #new
      float: left
      margin: -5px 0 0 90px
    #banner_sort
      float: right
      margin: -5px 120px 0 0
    li
      a, span
        padding: 5px 5px 5px 25px
        background-position: 5px center
        background-repeat: no-repeat
    #all_view, #active_view, #inactive_view
      a, span
        background-image: url(/images/admin/pictures.png)
    #name_sort, #page_sort
      a, span
        background-image: url(/images/admin/text_list_numbers.png)
    table.index#banners
      td
        .snapshot
          height: 40px
          max-width: 320px
          border: 1px solid d5f0ff
    html>body
      #all_view, #active_view, #inactive_view
        a, span
          *display: inline-block
    * html
      #all_view, #active_view, #inactive_view
        a, span
          display: inline-block
